<ul><% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %>
      <%= link_to 'add a review', new_restaurant_review_path(restaurant)  %></li>
  <% end %>
</ul>

<h1><%= link_to 'add a new restaurant', new_restaurant_path %></h1>
